body {
	background-color: #f0f0f0
}

.navbar,
.navbar-fixed-top>h1 {
	background-color: #3498DB !important;
	color: #ffffff;
}

.null-margin {
	margin: 0px;
}

li {
	color: #000;
}

.panel-body {
	margin: 0 5px 5px 5px;
}

.sidebar {
	margin: 0 15px;
	margin-right: 0px;
	width: 75px;
	height: auto;
	border: 1px solid #85C1E9;
	border-radius: 4px;
	position: fixed;
	top: 60px;
	left: 0;
}

.main-content {
	margin-left: 105px;
	height: 100%;
	width: -webkit-fill-available;
	position: fixed;
	top: 60px;
	overflow-y: auto;
	padding-right: 15px;
}

.sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.sidebar li {
	padding: 10px;
}

.sidebar li:hover {
	background-color: #9ed1f3;
}

.menu-icon {
	color: #fff;
	font-size: 25px;
}

.text-white {
	color: #fff;
}

.white {

	background-color: #ffffff !important;
	border: 1px solid #ffffff !important;
}

.cinza-claro {
	background-color: #e5e5e5 !important;
	border: 1px solid #e5e5e5 !important;
}

.cinza {
	background-color: #CBCBCB !important;
	border: 1px solid #CBCBCB !important;
}

.cinza-escuro {
	background-color: #363636 !important;
	border: 1px solid #363636 !important;
}

.preto {
	background-color: #000 !important;
	border: 1px solid #000 !important;
}

.azul-primary {
	background-color: #3498DB !important;
	border: 1px solid #3498DB !important;
}

.azul-secondary {
	background-color: #85C1E9 !important;
	border: 1px solid #85C1E9 !important;
}

.verde-primary {
	background-color: #2ECC71 !important;
	border: 1px solid #2ECC71 !important;
}

.verde-secondary {
	background-color: #58D68D !important;
	border: 1px solid #58D68D !important;
}

.laranja-primary {
	background-color: #F39C12 !important;
	border: 1px solid #F39C12 !important;
}

.laranja-secondary {
	background-color: #F7DC6F !important;
	border: 1px solid #F7DC6F !important;
}

.table-responsive {
	overflow-x: scroll;
	white-space: nowrap;
}

textarea {
	resize: vertical;
}

.panel-title {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.acoes {
	min-width: 130px;
}

.card-body {
	min-height: 150px;
}

.list-group-item {
	padding: 10px 15px 10px 6px;
}
